:root{
--main_colour_dark: hsl(171, 82%, 33%);
--main_colour:	hsl(112, 44%, 55%);
--main_colour_light:hsl(84, 55%, 55%);
--contrast_colour_dark: hsl(352, 49%, 40%);
--contrast_colour: 	hsl(6, 85%, 66%);
--contrast_colour_light:hsl(228, 3%, 67%);
--bg_colour: hsl(252, 7%, 14%);
--bg_contrast_colour: hsl(0, 0%, 100%);
}


body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--bg_colour);
    color: var(--bg_contrast_colour);
    justify-content: space-evenly;
    flex-direction: row;
}

hr {
    max-width: 900px;
    width: 100%;
    margin-bottom: 40px;
}

#myDesign {
    width: 400px;
    height: 400px;

    background-color: #5f3763;
    border: 6px solid #ffb108;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.button{
    font-size: 3em;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 1.5em;
    border: none; /*var(--main_colour) 0.125em solid;*/
    border-radius: 0.1em;
    text-align: center;
    box-shadow: inset 0 0 0 0 var(--contrast_colour_dark);
    transition: ease-out 300ms;
    color: var(--bg_contrast_colour);
    background-color: var(--main_colour_dark);
    min-width: 100;
    justify-content: center;
}

.button:hover{
    box-shadow: inset 8em 0 0 0 var(--contrast_colour_dark);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.question{
    max-width: 880px;
    width: 100%;
    text-align: left;
    padding: 0.5em;
    border: solid .2em;
    justify-content: center;
    margin: auto;
    min-height: 100px;
    font-size: xx-large;
}

.circle { 
    height: 2em;  
    width: 2em; 
    border: none;
    display: inline-block;
    border-radius: 100%;
    margin-left: 1em;
    margin-right: 1em;

    transition: ease-out 500ms;

    position: relative;
    z-index: 1;

}

.circle::before{
    transition: 500ms all ease;
    position: absolute;
    top: 100%;
    left: 100%;
    right: 100%;
    bottom: 100%;
    opacity: 0;
    content: " ";
    background-color: var(--main_colour_light);
    border-radius: 100%;
}

.circle.passive:hover{
    cursor: pointer;
}

.circle:hover:before {
    transition: 500ms all ease;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    opacity: 1;
    z-index: -1;
}


.passive{
    background-color: var(--contrast_colour_light);
}

.active{
    background-color: var(--main_colour_light);
}

.center{
    justify-content: center;
}

.hierarchy{
    min-height: 5em;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.awnser{
    max-width: 900px;
    margin:auto;
}

.logo{
    width: 20em;
    padding-top: 100px;
}

footer{
    justify-content: center;
    display: flex;
    max-width: 900px;
    margin: auto;
}